<div class="navbar navbar-light navColor  nav-search">

    <div class="navbar-brand">
      <img src="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.15.0/mercadolibre/logo__small.png" class="mt-1"
        alt="">
    </div>
  
    <div class="col"> 
      <input type="text" class="nav-search-input" (keyup.enter)="buscar()" [(ngModel)]="entrada"
        aria-label="Ingresá lo que quieras encontrar" name="as_word" placeholder="Buscar productos, marcas y más…"
        maxlength="120" autofocus="" spellcheck="false" tabindex="2">
    </div>
  
</div>

<router-outlet></router-outlet>
